<div class="row">
  <div class="col">
    <h1><%= @user.name %>'s profile</h1><br>
    <div class="row d-flex justify-content-center text-center">
      <div class="col">
        <span class="h3">Follower</span><hr>
        <span class="h4"><%= @user.followers.size %></span><br>
        <% if @user != current_user %>
          <% if current_user.followees.include?(@user) %>
            <%= link_to "Unfollow", follows_destroy_path(@user.name), method: :delete, class: "btn btn-danger mt-3" %>
          <% else %>
            <%= link_to "Follow", follows_create_path(@user.name), method: :post, class: "btn btn-primary mt-3" %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <span class="h3">Following</span><hr>
        <span class="h4"><%= @user.followees.size %></span>
      </div>
      <div class="col">
        <span class="h3">Relationship</span><hr>
        <% if @user.relationship %>
          <span class="h4">
            <%= "#{@user.relationship.requestee.name}'s #{@user.relationship.relationship_type}" %>
          </span>
        <% else %>
          <span class="h4">No relationship</span><br>
        <% end %>
        <% if @user != current_user %>
          <% if @user.relationship %>
            <% if @user.relationship.requestee == current_user %>
              <%= link_to "End relationship", relationships_destroy_path(@user.name), method: :delete, class: "btn btn-danger mt-3" %>
            <% end %>
          <% else %>
            <% if current_user.relationship %>
              <button class="btn btn-muted mt-3 disabled" disabled>Request</button>
            <% else %>
              <% if current_user.requestees.include?(@user) %>
                <%= link_to "Cancel", relationships_cancel_path(@user.name), method: :delete, class: "btn btn-secondary mt-3" %>
              <% else %>
                <%= link_to "Request", relationships_create_path(@user.name), method: :post, class: "btn btn-primary mt-3" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 text-right font-weight-bold">
        firstname
      </div>
      <div class="col">
        <%= @user.firstname %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-right font-weight-bold">
        lastname
      </div>
      <div class="col">
        <%= @user.lastname %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-right font-weight-bold">
        gender
      </div>
      <div class="col">
        <%= @user.gender %>
      </div>
    </div>
    <hr>
    <h2>Recent tweets</h2><br>
    <%=
      render "shared/tweets",
      tweets: @user.tweets.threads.includes(
        :replies,
        :retweets,
        :users,
        :hash_tags
      ), layer: 0
    %>
  </div>
</div>
