<div class="row">
  <div class="col">
    <h1><%= @user.name %>'s profile</h1>
    <div class="row d-flex justify-content-center text-center my-3">
      <div class="col">
        <span class="h3">Follower</span><hr>
        <span class="h4"><%= @user.followers.size %></span>
        <% if @user != current_user %>
          <% if current_user.followees.include?(@user) %>
            <%= form_for :user, url: follows_destroy_path(@user.name), method: :delete do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-danger mt-3" %>
            <% end %>
          <% else %>
            <%= form_for :user, url: follows_create_path(@user.name), method: :post do |f| %>
              <%= f.submit "Follow", class: "btn btn-primary mt-3" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <span class="h3">Following</span><hr>
        <span class="h4"><%= @user.followees.size %></span>
      </div>
      <div class="col">
        <span class="h3">Relationship</span><hr>
        <% if @user.relationship %>
          <span class="h4">
            <%= "#{@user.relationship.requestee.name}'s #{@user.relationship.relationship_type}" %>
          </span>
        <% else %>
          <span class="h4">No relationship</span>
        <% end %>
        <% if @user.relationship %>
          <% if @user.relationship.requestee == current_user %>
            <%= form_for :user, url: relationships_destroy_path(@user.name), method: :delete do |f| %>
              <%= f.submit "End relationship", class: "btn btn-danger mt-3" %>
            <% end %>
          <% end %>
        <% else %>
          <% if current_user.relationship %>
            <button class="btn btn-muted mt-3 disabled" disabled>Request</button>
          <% else %>
            <% if current_user.requestees.include?(@user) %>
              <%= form_for :user, url: relationships_cancel_path(@user.name), method: :delete do |f| %>
                <%= f.submit "Cancel", class: "btn btn-secondary mt-3" %>
              <% end %>
            <% else %>
              <%= form_for :user, url: relationships_create_path(@user.name), method: :post do |f| %>
                <%= f.submit "Request", class: "btn btn-primary mt-3" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 text-right font-weight-bold">
        firstname
      </div>
      <div class="col">
        <%= @user.firstname %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-right font-weight-bold">
        lastname
      </div>
      <div class="col">
        <%= @user.lastname %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-right font-weight-bold">
        gender
      </div>
      <div class="col">
        <%= @user.gender %>
      </div>
    </div>
  </div>
</div>
