<div class="row">
  <div class="col">
    <%= form_for :retweet, url: retweets_create_path(@tweet), method: :post do |f| %>
      <%= f.label :content, "Retweet from " %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= @tweet.user.email %></h5>
          <label class="text-secondary">
            <small><%= @tweet.created_at.in_time_zone('Bangkok').strftime("%d %b %Y at %I:%M %p") %></small>
          </label>
          <hr />
          <p class="card-text"><%= @tweet.content %></p>
          <div class="form-group">
            <%=
              f.text_area :content,
              class: "form-control #{"is-invalid" if flash[:fail]&.dig(:content)}",
              rows: 5,
              placeholder: "Write content here..."
            %>
            <div class="invalid-feedback">
              <%= "Content #{flash[:fail]&.dig(:content)&.first}" %>
            </div>
          </div>
          <%= f.submit "Retweet", class: "btn btn-primary mt-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
