<div class="row">
  <div class="col">
    <h1>Relationship requests</h1>
    <br>
    <% if @requests.empty? %>
      No request
    <% else %>
      <% @requests.each do |request| %>
        <div class="d-flex align-items-center">
          <%= "#{request.requester.name} wants to become your #{request.relationship_type}." %>
          <%= form_for :relationship, url: relationships_accept_path(request.id), method: :post do |f| %>
            <%= f.submit "Accept", class: "btn btn-link ml-3" %>
          <% end %>
          <%= form_for :relationship, url: relationships_reject_path(request.id), method: :delete do |f| %>
            <%= f.submit "Reject", class: "btn btn-link text-danger" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
