<div class="row">
  <div class="col">
    <%= form_for :tweet, url: tweets_create_path, method: :post do |f| %>
      <div class="form-group">
        <%= f.label :content, "What do you think now?" %>
        <%= 
          f.text_area :content,
          class: "form-control #{"is-invalid" if flash[:fail]&.dig(:content)}",
          rows: 5,
          placeholder: "Write here...",
          value: @t&.content
        %>
        <div class="invalid-feedback">
          <%= "Content #{flash[:fail]&.dig(:content)&.first}" %>
        </div>
      </div>
      <%= f.submit "Tweet", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-center">
      <%= paginate @tweets %>
    </div>
    <%= render "shared/tweets", tweets: @tweets, layer: 0 %>
    <div class="d-flex justify-content-center">
      <%= paginate @tweets %>
    </div>
  </div>
</div>
