<% tweets.each do |tweet| %>
  <%
    likes = tweet.likes
    replies = tweet.replies
    retweets = tweet.retweets
    retweet = tweet.retweet
    reply = tweet.reply
  %>
  <div
    class="card <%= !layer.zero? ? "mt-3" : "mb-3" %>"
    style="background-color: <%= layer % 2 == 1 ? "#f5f5ff" : "#ddddff" %>"
  >
    <div class="card-body">
      <h5 class="card-title"><%= tweet.user.name %></h5>
      <label class="text-secondary"><small><%= tweet.created_at %></small></label>
      <%= link_to "View", tweet_path(tweet.id) unless current_page?(tweet_path(tweet.id)) %>
      <hr />
      <%= render "tweets/shared/content", tweet: tweet %>
      <% unless retweet.nil? %>
        <div
          class="card"
          style="background-color: <%= layer % 2 == 0 ? "#f5f5ff" : "#ddddff" %>"
        >
          <div class="card-body">
            <h5 class="card-title"><%= retweet.user.name %></h5>
            <label class="text-secondary"><small><%= retweet.created_at %></small></label>
            <%= link_to "View", tweet_path(retweet.id) %>
            <hr />
            <%= render "tweets/shared/content", tweet: retweet %>
          </div>
        </div>
      <% end %>
      <hr />
      <% unless tweet.users.include?(current_user) %>
        <%= link_to "Like", tweet_likes_path(tweet), method: :post, class: "text-danger" %>
      <% else %>
        <%=
          link_to "Unlike",
          tweet_like_path(tweet, likes.find_by(user_id: current_user.id)),
          method: :delete,
          class: "text-danger"
        %>
      <% end %>
      <%= likes.size %>

      <%= link_to "Reply", new_tweet_reply_path(tweet), class: "text-primary ml-2" %>
      <%= replies.size %>

      <% if reply.nil? %>
        <%= link_to "Retweet", new_tweet_retweet_path(tweet), class: "text-success ml-2" %>
        <%= retweets.size %>
      <% end %>

      <%= render "tweets/shared/tweets", tweets: replies.loads, layer: layer + 1 %>
    </div>
  </div>
<% end %>
<% if tweets.empty? && layer.zero? %>
  <div class="h4 text-center">
    So quiet here ฅ(Φ ω Φ)ฅ, let's tweet someting.
  </div>
<% end %>
